html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
}

/* BACKGROUND */
.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* PURPLE BACKGROUND */
  background: linear-gradient(135deg, #6a11cb, black);

  position: relative;
}

/* DARK OVERLAY */
.app-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* TODO CARD */
.card {
  position: relative;
  z-index: 2;

  width: 380px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  color: white;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

/* INPUTS */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

/* BUTTON */
button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}

/* TASK LIST */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.pending {
  color: #ffcc00;
  font-weight: bold;
  margin: 8px 0;
}
